.container {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.correct_rule, .incorrect_rule {
  font-weight: 600;
}

.correct_rule, .incorrect_rule {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.correct_rule {
  color: var(--color-additional)
}

.incorrect_rule {
  color: var(--color-accent);
}