.container {
  position: relative;
  width: 100%;
  padding: 20px 15px 9px;
  background: rgba(228, 228, 228, 0.7);
  border-radius: 5px;
  font-size: 0;
  cursor: text;
}

.container:focus-within .label, input:not([value='']) + .label {
  top: 5px;
  left: 10px;
  font-size: 10px;
  line-height: 14px;
}

.container:hover, .container:focus-within {
  background: #e4e4e4;
}

.input {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #434141;
  caret-color: #434141;
  background-color: transparent;
}

.input_paddingRight {
  padding-right: 30px;
}

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  cursor: inherit;
  line-height: 19px;
  transition: all 0.2s ease 0s;
}

.label::first-letter {
  text-transform: capitalize;
}

.container.error {
  background: rgba(219, 57, 57, 0.3);
}

.helperText {
  color: #e36464;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding-left: 10px;
}

.passwordToggle {
  position: absolute;
  top: 50%;
  right: 13px;
  transform: translate(0, -50%);
  font-size: 0;
  cursor: pointer;
}
