.wrapper {
  position: relative;
}

.container {
  width: 100%;
  padding: 20px 15px 9px;
  background: var(--background-color-field);
  border-radius: 5px;
  font-size: 0;
  cursor: text;
  transition: var(--transition);
}

.container.error {
  background: var(--color-text-validation7);
}

.container:hover, .container:focus-within {
  background: var(--color-field-focus);
}

.container[aria-disabled='true'] {
  cursor: no-drop;
  background: var(--color-field-focus);
}

.input:focus + .label, input:not([value='']) + .label {
  top: 5px;
  left: 10px;
  font-size: 10px;
  line-height: 14px;
}

.input {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-text);
  caret-color: var(--color-text);
  background-color: transparent;
}

.input_paddingRight {
  padding-right: 30px;
}

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 14px;
  color: var(--color-placeholder);
  cursor: inherit;
  line-height: 19px;
  transition: all 0.2s ease 0s;
  text-transform: lowercase;
}

.label::first-letter {
  text-transform: capitalize;
}

.helperText {
  color: var(--color-text-validation);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding-left: 10px;
}

.indicator {
  position: absolute;
  top: 50%;
  right: 13px;
  transform: translate(0, -50%);
  font-size: 0;
  cursor: pointer;
}

.indicator * {
  fill: var(--color-placeholder)
}
