.button {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5c67a;
  border-radius: 5px;
  padding: 14.5px 10px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  user-select: none;
}

.button:hover {
  background: #f5c678;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}
.button:active{
  background: rgba(245, 198, 120, 0.7);
}

.loading {
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  animation: loading 0.6s infinite linear alternate;
  animation-delay: 0.3s;
}

.loading::before, .loading::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.loading::before {
  right: 10px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  animation: loading 0.6s infinite alternate;
  animation-delay: 0s;
}

.loading::after {
  left: 10px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  animation: loading 0.6s infinite alternate;
  animation-delay: 0.6s;
}

@keyframes loading {
  0% {
    background-color: rgba(255, 255, 255, 0.5);
  }
  50%, 100% {
    background-color: rgba(255, 255, 255, 1);
  }
}