.button {
  width: 100%;
  min-height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--color-accent);
  border-radius: 5px;
  padding: 14.5px 10px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  box-shadow: var(--shadow-button);
  cursor: pointer;
  user-select: none;
  transition: var(--transition);
}

.button:hover {
  box-shadow: var(--shadow-button-hover);
}

.button:active {
  background: var(--color-accent7);
}

.button:disabled {
  background: var(--color-accent7);
  box-shadow: var(--shadow-button-hover);
}


.loading {
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  animation: loading 0.6s infinite linear alternate;
  animation-delay: 0.3s;
}

.loading::before, .loading::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.loading::before {
  right: 10px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  animation: loading 0.6s infinite alternate;
  animation-delay: 0s;
}

.loading::after {
  left: 10px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  animation: loading 0.6s infinite alternate;
  animation-delay: 0.6s;
}

@keyframes loading {
  0% {
    background-color: rgba(255, 255, 255, 0.5);
  }
  50%, 100% {
    background-color: rgba(255, 255, 255, 1);
  }
}