.loginPage {
  height: 100vh;
  display: flex;
  background: var(--background-color);
}

.loginPage_container {
  height: 600px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  border-radius: 20px;
  background: var(--background-color);
  box-shadow: var(--shadow-container);
}

.header {
  height: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 12px;
  font-family: 'Baloo';
  font-weight: 800;
  font-size: 40px;
  line-height: 63px;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  background: var(--images-auth-header) center / cover no-repeat
}

.form {
  padding: 0 125px;
}

.form_input {
  min-width: 250px;
}

.form > *:not(:last-child) {
  margin-bottom: 15px;
}

.singUp {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-accent);
  cursor: pointer;
}

.singUp::first-letter {
  text-transform: capitalize;
}
